.jumbotron {
  padding-top: 6rem;
  background-color: rgb(214, 255, 212);
}

}
#award{
  background-color: rgb(214, 255, 212)
}
#contact {
  background-color: rgb(214, 255, 212);
}
section {padding-top: 6rem;}

